@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
    font-family: 'Roboto', sans-serif;
}

.add_emp{
    display: flex;
    justify-content: center;

}
.dialogzinho{
    width: 100%;
    height: 100%;
    justify-content: center;
    position: absolute;
    align-items: center;
}


.dialogzinho2{
    width: 100%;
    position: absolute;

    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: transparent;
}


.titulo_empresa{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 35px;
}

.lista_emp{
    display: flex;
    flex-direction: column;
    margin-left:50px;
    width:70%;
    border: 1px solid #054A29;
    border-radius: 5px;
}


.lista{
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}


.itens_lista{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div_lista_armazem{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_titulo_add_emp{
    border: 1px solid #054a29;
    width:100%;
    font-size:25px;
    display: flex;
    justify-content: center;
    
}

.formulario_add_emp{
    display: flex;
    flex-direction: column;
    
}

.input{
    display: flex;
    flex-direction:column;
    justify-content: center;
    width:90%;
    margin-top:5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #054A29;
}

.ml{
    margin-left: 10px;
}

.margin{
    margin-left: 10px ;
    margin-right: 10px;
    margin-bottom: 10px;
}


.botao{
    width: 80%;
    padding: 16px 0px;
    margin: 25px;
    margin-top: 0px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-weight: 400;
    letter-spacing: 2px;
    color: #EFF0E8;
    background-color: #054A29;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao:hover{
-webkit-box-shadow: 0px 0px 10px 2px rgba(15,105,25,1);
-moz-box-shadow: 0px 0px 10px 2px rgba(15,105,25,1);
box-shadow: 0px 0px 10px 2px rgba(15,105,25,1);
}

.dialog {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 400px;
  max-width: 100%;

}

.header {
  border-bottom: 1px solid #f0f0f0;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
}

.header h2 {
  margin: 0;
    width: 50%;
}


.header i {
    color: red;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;
    cursor: pointer;
}

.header i:hover{
    opacity: 0.5;
}

.form {
  padding: 30px 40px; 
}

.containerInput {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.containerInput label {
  display: inline-block;
  margin-bottom: 5px;
}

.containerInput input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}

.containerInput input:focus {
  outline: 0;
  border-color: #777;
}

.containerInput.success input {
  border-color: #2ecc71;
}

.containerInput.error input {
  border-color: #e74c3c;
}

.containerInput i {
  position: absolute;
  top: 40px;
  right: 10px;
}

.containerInput.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.containerInput.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.containerInput small {
  color: #e74c3c;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.containerInput.error small {
  visibility: visible;
}

.form button {
  background-color: #054A29;
  border: 2px solid #8e44ad;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-family: inherit;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
    cursor: pointer;
}

button:hover{
opacity: 0.5;
}



